<!DOCTYPE html>
<html>
<body style="background-color:#8edbdf ;">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <style>
      h3 {
        font-size: 35px;
        padding: 15px;
        height: 50px;
        width: 4000px;
        text-align: left;
        background-color: white;
        }
      div
        {
        background-color:white;
        padding:30px;
        height: 330px;
        width: 300px;
        line-height: normal;
        }
      body
        {
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        }
      </style>
  </head>
    <title>Petal Winterns Project 2021</title>
<body>
  <h3>Petal</h3>
<center>
  <!---
      <img src="/Users/kaylaortiz/Desktop/projects/petalwinternproject2021/Images/petalsquarelogo.jpg"width="150" height="150">
      <form action="/action_page.php">  --->
  <p style="background-color:#f7fa8f ;"></p>
    <div>
<h2>Let's start by veryfing your address</h2>
<h3>Please enter your personal information</h3>
<p>
    <!--{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} -->
</p>
<form action="/" method="post" enctype="multipart/form-data">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="" required><br>
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname" value="" required><br><br>
    <label for="zipcode">Zip Code:</label><br>
    <input type="text" id="zipcode" name="zipcode" value="" required><br>
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
</body>
</center>
</html>
</body>
</html>