<!DOCTYPE html>
<h1 style="background-color: #9FE2BF;">
<html>
  <head>
    <title>Petal Winterns Project 2021</title>
    <img src="/Users/salimakazab/Desktop/petal.jpg"width="200" height="150">
    <center><h1>Utility Bill Extractor</h1>
<body>


    <form action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br><br>
    <label for="zipcode">Zip Code:</label><br>
    <input type="text" id="zipcode" name="zipcode" value=""><br>

<title>Python Flask Multiple Files Upload Example</title>
<h2>Select file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form> 

</body>
</center>
</html>
<p>If you click the "Submit" button, the form-data will be sent to a page called "insert server".</p>


</body>

</html>